@use "typography";

.heading-bar {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;

  .heading {
    background-color: var(--secondary-green);
    border-radius: 7px;
    padding: 0 7px;
    h3 {
      @include typography.font-regular;
      text-align: center;
    }
  }

  p {
    width: 580px;
    @include typography.font-smallest;
  }
}

@media (max-width: 786px) {
  .heading-bar {
    gap: 30px;
  }
  .heading-bar .heading {
    padding: 0 6px;
    h3 {
      @include typography.font-small;
    }
  }
}

@media (max-width: 576px) {
  .heading-bar {
    gap: 15px;
  }
  .heading-bar .heading {
    h3 {
      @include typography.font-regular;
    }
  }
}