@use "typography";

:host {
  &.active .accordian {
    background-color: var(--secondary-green);
  }
}

button.accordian {
  width: -webkit-fill-available;
  background-color: var(--tertiary-grey);
  border: 1px solid black;
  border-radius: 45px;
  padding: 41px 60px;
  box-shadow: 0 10px 0px -5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-radius 0.3s ease,
    box-shadow 0.3s ease;
}

.accordian-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .heading-title {
    display: flex;
    align-items: center;
    gap: 25px;
    @include typography.font-small;
    span {
      @include typography.font-large;
    }
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 16px 16.98px;
    border-radius: 45px;
    border: 1px solid var(--primary-black);
    cursor: pointer;
    transition: 0.3s ease;
  }
  svg {
    width: 25.08px;
    height: 25.08px;
  }
}

.faq-description {
  @include typography.font-smallest;
  width: 98%;
  text-align: left;
}

.separator {
  width: 99%;
  height: 1px;
  background-color: var(--primary-black);
  margin: 30px 0;
}

.active {
  background-color: var(--secondary-green);
}
