<section>
  <div class="container">
    <div class="proposal-bg">
      <div class="proposal-left">
        <h4>Let’s make things happen</h4>
        <p>
          Contact us today to learn more about how our digital marketing
          services can help your business grow and succeed online.
        </p>
        <app-button content="Get your free proposal" mode="dark" />
      </div>
      <div class="proposal-right">
        <img src="/images/Illustration2.png" alt="Illustration2" />
      </div>
    </div>
  </div>
</section>
