<div class="container">
  <app-navbar [mainNav]="false"></app-navbar>
  <div class="contact-footer">
    <div class="contact-left">
      <span>Contact us:</span>
      <p>
        Email:
        <a href="mailto:info@positivus.com">info&#64;positivus.com</a>
      </p>
      <p>
        Phone:
        <a href="tel:+5555678901">555-567-8901</a>
      </p>
      <div class="address">
        <span>Address:</span>
        <address>
          1234 Main St<br />
          Moonstone City, Stardust State 12345
        </address>
      </div>
    </div>
    <div class="contact-right">
      <input type="email" name="email" placeholder="Email" />
      <app-button content="Subscribe to news" mode="green"></app-button>
    </div>
  </div>
  <div class=""></div>
  <div class="footer-copyright">
    <p>© 2023 Positivus. All Rights Reserved.</p>
    <a href="#">Privacy Policy</a>
  </div>
</div>
