.services {
  margin-top: 140px;
  margin-bottom: 100px;
}

.service-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media (max-width: 1024px) {
  .services {
    margin-top: 75px;
  }
}

@media (max-width: 576px) {
  .service-info {
    display: grid;
    grid-template-columns: 1fr;
  }
}