@use "typography";

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px auto;
}

.home-left {
  padding: 0px;

  h2,
  p {
    margin-bottom: 35px;
  }

  h2 {
    font-size: 60px;
    font-weight: 500;
  }

  p {
    @include typography.font-smaller;
  }

  button {
    padding: 20px 35px;
    background: var(--primary-black);
    color: var(--tertiary-grey);
    border-radius: 14px;
    @include typography.font-smaller;
  }
}

.companies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1024px) {
  .companies {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 120px;
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .home {
    flex-direction: column-reverse;
  }

  .companies {
    grid-template-columns: 1fr 1fr;
  }
}