.container {
  margin-bottom: 140px;
}

.contact-us {
  display: flex;
  padding: 60px 0px 80px 100px;
  position: relative;
  background: var(--tertiary-grey);
  border-radius: 45px;

  .radio-buttons form {
    display: flex;
    align-items: center;
    input[type="radio"] {
      width: 28px;
      height: 28px;
      outline: none;
      cursor: pointer;
      appearance: none;
      border-radius: 50%;
      margin-right: 14px;
      -webkit-appearance: none;
      background-color: transparent;
      transition: all 0.2s ease-in-out;
      border: 1px solid var(--primary-black);
      box-shadow: inset 0 0 0 4px var(--text-white);
      background-color: var(--text-white);
    }

    input[type="radio"]:checked {
      border: 1px solid var(--primary-black);
      background-color: var(--secondary-green);
    }
    input[type="radio"]:last-of-type {
      margin-left: 35px;
    }
  }

  form {
    width: 556px;

    .form-inputs {
      display: flex;
      flex-direction: column;
      margin: 40px 0;

      input {
        margin-bottom: 25px;
      }

      input,
      textarea {
        padding: 18px 30px;
        border: 1px solid var(--primary-black);
        border-radius: 14px;
      }

      label {
        margin-bottom: 5px;
      }
    }

    app-button ::ng-deep button {
      display: block;
      width: -webkit-fill-available;
    }
  }

  .image-right {
    position: absolute;
    right: 0px;
  }
}

@media (max-width: 576px) {
  .contact-us {
    padding: 60px 0px 67px 29px;
  }
}

@media (max-width: 476px) {
  .contact-us {
    padding: 60px 29px 67px 29px;
  }
  .form-left {
    width: 100%;

    form {
      width: 100%;
    }
  }
  .image-right {
    display: none;
  }
}
