@use "typography";
.container {
  margin-bottom: 140px;
}

.testimonials-block {
  width: -webkit-fill-available;
  background: var(--primary-black);
  height: 625px;
  border-radius: 45px;
  overflow: hidden;
  position: relative;

  .swiper {
    display: flex;
    justify-content: center;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    min-height: 473px;
    color: var(--text-white);
    @include typography.font-smallest;

    .swiper-slide {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 30px;
      border: 1px solid var(--secondary-green);
      border-radius: 45px;
      padding: 52px;
    }

    .designation .reviewer {
      @include typography.font-smaller;
      color: var(--secondary-green);
      display: block;
    }
  }

  .controls {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 45px;
    button {
      background-color: var(--primary-black);
      border: none;
      color: white;
      svg {
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
    }
  }
}
