section {
    margin-bottom: 140px;
}

.team-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.team-btn {
    margin-top: 40px;
    float: right;
}

@media (max-width: 576px) {
  .team-members {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 457px) {
  .team-members {
    grid-template-columns: 1fr;
  }
}